@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --color-white: #ffffff;
  --submit-contact: #fc7b05;

  --color-primary: #fd7c05;
  --color-primary-light: rgba(253, 125, 5, 0.9);

  --color-black: rgba(0, 0, 0, 0.7);

  --color-dark-gray: #494f54;
  --color-gray: #f2f2f2;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;

}

body {
  overflow-x: hidden;
}

.shadowBox {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3) !important;
}

.auth a {
  color: var(--color-primary) !important;
}

.back {
  background: url("./images/hand-drawn.jpg") 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.product {
  border-radius: 0.2em;
  background-color: var(--color-white);
  transition: all 0.2s ease-in;
}

.product-card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
  border-radius: 2em;
}

.product:hover {
  outline: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem var(--color-black);
}

.product-card {
  border-radius: 2rem;
}

.form-back {
  background: url("./images/background-contact.jpg");
}

.submit {
  background: var(--submit-contact) !important;
  border: 0;
  outline: 0;
  border-radius: 15px;
}

textarea {
  resize: none;
  height: 8rem;
}

.touch {
  font-size: 2rem !important;
}

.formImage {
  background-image: url("./images/background-contact.png");
  background-position: center;
  background-size: cover;
  height: 110vh;
  background-repeat: no-repeat;
}

.heading-main {
  letter-spacing: 1.5px;
}


.quote {
  font-size: 2em;
  font-weight: bolder;
}

.contact {
  display: flex;
  flex-direction: row;
}

/* Nk-Style */

.cover-match-form a {
  color: var(--color-dark-gray);
}

.cover-match-form a:hover {
  text-decoration: none;
  background-color: rgba(0, 47, 100, 0.9);
  color: var(--color-white);
}

.cover-match-form__gallery {
  width: 130px;
  height: 130px;

  border-radius: 15px;
}


/* Services-Home-insurance */

.services-home-insurance .banner {
  background: url(/images/contactus.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section-Travel-insurance */

.section-travel-insurance i {
  color: var(--color-primary);
}

/* Cover-Match-Card-Section  */

.cover-match-card-section button {
  font-size: 1rem;
}

.cover-match-card-section .card-body {
  font-size: .9rem;
}

/* -------- */

.cover-match-height-card {
  height: 270px;
}


/* ---------- */

.nk-text-align-responsive {
  text-align: center;
}

.nk-justify-content-around {
  justify-content: space-around;
}

.nk-heading--white {
  color: rgba(163, 154, 154, 0.76);
}

.nk-border-radius-25 {
  border-radius: 15px !important;
}

.nk-input::-webkit-outer-spin-button,
.nk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cover-match-color-primary-text i {
  color: var(--color-primary);
}

/* --------- */

.cover-match-primary-heading,
.cover-match-primary-heading-small {
  font-weight: 800 !important;
  color: #000;

  margin-bottom: .3rem;

  line-height: 1.2 !important;
}

.cover-match-primary-heading {
  font-size: 1.5rem;
}

.cover-match-primary-heading-small {
  font-size: 1.2rem;
}

.cover-match-primary-paragraph {
  font-size: 1.1rem;
}

.cover-match-primary-paragraph-small {
  font-size: .85rem;
}

/* ------- */

.covermatch-primary-btn-color {
  color: var(--color-primary) !important;
}

.covermatch-primary-btn-color:hover {
  color: var(--color-black) !important;
}

.section-form {
  background-image: url("./images/background-contact.png");

  background-position: center;
  background-size: cover;
}

.section-form .shadow-lg {
  box-shadow: 0 0.1rem 1rem #777 !important;
}

.cover-match-btn-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-radius: 1rem !important;

  font-size: 1.2rem;
}

.cover-match-btn-primary:hover {
  background-color: var(--color-white) !important;
  color: var(--color-primary-light) !important;
}

.covermatch-bg-1 {
  background-color: var(--color-gray);
}

.carousel-control-next-icon {
  background-image: url("./images/chevron-right.svg");
}

.carousel-control-prev-icon {
  background-image: url("./images/chevron-left.svg");
}

.partners {
  background-color: #f2f2f2;
}

footer a {
  font-size: 1rem;
  line-height: 2 !important;
  color: var(--color-dark-gray);
}

footer a:hover {
  text-decoration: none;
  color: var(--color-primary);
}


/* ------ */

@media only Screen and (max-width: 768px) {
  .section-form {
    background-image: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .formWidth {
    width: 100%;
  }

  .quote {
    font-weight: bolder;
    font-size: 1em;
  }

  .cover-match-primary-heading {
    font-size: .9rem;
  }

  .cover-match-primary-paragraph {
    font-size: .7rem;
  }

  .cover-match-card-section button {
    font-size: .7rem;
  }

  .cover-match-card-section .card-body {
    font-size: .6rem;
  }


  .cover-match-primary-heading-small {
    font-size: .8rem;
  }

  .cover-match-primary-paragraph-small {
    font-size: .65rem;
  }

  .cover-match-form__gallery {
    width: 100px;
    height: 100px;

  }

  .nk-text-align-responsive {
    text-align: left;
  }

  footer a {
    font-size: .6rem;
  }

}