@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --color-white: #ffffff;
  --submit-contact: #fc7b05;

  --color-primary: #fd7c05;
  --color-primary-light: rgba(253, 125, 5, 0.9);

  --color-black: rgba(0, 0, 0, 0.7);

  --color-dark-gray: #494f54;
  --color-gray: #f2f2f2;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;

}

body {
  overflow-x: hidden;
}

.shadowBox {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3) !important;
}

.auth a {
  color: var(--color-primary) !important;
}

.back {
  background: url("./images/hand-drawn.jpg") 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.product {
  border-radius: 0.3em;
  background-color: var(--color-white);
  transition: all 0.2s ease-in;
}

.product-card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
  border-radius: 2em;
}

.product:hover {
  outline: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem var(--color-black);
}

.product-card {
  border-radius: 2rem;
}

.form-back {
  background: url("./images/background-contact.jpg");
}

.submit {
  background: var(--submit-contact) !important;
  border: 0;
  outline: 0;
  border-radius: 15px;
}

textarea {
  resize: none;
  height: 8rem;
}

.touch {
  font-size: 2rem !important;
}

.formImage {
  background-image: url("./images/background-contact.png");
  background-position: center;
  background-size: cover;
  height: 110vh;
  background-repeat: no-repeat;
}

.heading-main {
  letter-spacing: 1.5px;
}


.quote {
  font-size: 2em;
  font-weight: bolder;
}

.contact {
  display: flex;
  flex-direction: row;
}

/* ----Select-2-Custom-Style---- */

.select2-container {
  margin-right: .5rem !important;
}


.select2-container--default .select2-selection--single {
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 25px !important;
  left: -10px !important;
  border-width: 6px 5px 0 5px !important;

}

/* Nk-Style */

.cover-match-form__main-form a {
  color: var(--color-dark-gray);
}

.cover-match-form__main-form a:hover,
.cover-match-form__main-form a:active,
.cover-match-form__main-form button:focus,
.cover-match-form__main-form button:active,
.cover-match-custom-active {
  text-decoration: none;
  background-color: rgba(0, 47, 100, 0.9) !important;
  color: var(--color-white) !important;
}

.cover-match-form__gallery {
  width: 130px;
  height: 130px;

  border-radius: 15px;
}


/* Services-Home-insurance */

.services-home-insurance .banner {
  background: url(./images/contactus.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section-Travel-insurance */

.services-travel-insurance {
  background: url(https://thumbs.dreamstime.com/b/friends-travel-around-city-electronic-map-tablet-flat-d-character-illustration-concept-animation-web-165941194.jpg) no-repeat bottom;
  background-size: cover;
}

.section-travel-insurance i {
  color: var(--color-primary);
}

/* Section-Car-insurance */

.services-car-insurance {
  background: url(./images/services-insurance/services-car-copy-Mon.jpg) no-repeat bottom;
  background-size: cover;
}

/* Section-Bike-insurance */

.services-bike-insurance {
  background: url(./images/services-insurance/Motor-Bike-I.jpg) no-repeat bottom;
  background-size: cover;
}

/* Section-life-insurance */

.services-life-insurance {
  background: url(./images/services-insurance/Insurance-policy.jpg) no-repeat bottom;
  background-size: cover;
}

/* Section-health-insurance */

.services-health-insurance {
  background: url(./images/services-insurance/Hospital-illustration1.jpg) no-repeat bottom;
  background-size: cover;
}


/* Section-Yacht-insurance */

.services-yacht-insurance {
  background: url(./images/services-insurance/Yacht.jpg) no-repeat top;
  background-size: cover;
}

/* Cover-Match-Card-Section  */

.cover-match-card-section button {
  font-size: 1rem;
}

.cover-match-card-section .card-body {
  font-size: .9rem;
}

/* -------- */

.cover-match-height-card {
  height: 270px;
  border-radius: 35px;
}


/* ---------- */

.nk-text-align-responsive {
  text-align: center;
}

.nk-justify-content-around {
  justify-content: space-around;
}

.nk-heading--white {
  color: var(--color-white);
}

.nk-border-radius-25 {
  border-radius: 15px !important;
}

.nk-input::-webkit-outer-spin-button,
.nk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cover-match-color-primary-text i {
  color: var(--color-primary);
}

/* --------- */

.cover-match-primary-heading,
.cover-match-primary-heading-small {
  font-weight: 800 !important;
  color: #000;

  margin-bottom: .3rem;

  line-height: 1.2 !important;
}

.cover-match-primary-heading {
  font-size: 1.5rem;
}

.cover-match-primary-heading-small {
  font-size: 1.2rem;
}

.cover-match-primary-paragraph {
  font-size: 1rem;
}

.cover-match-primary-paragraph-small {
  font-size: .85rem;
}

/* ------- */

.covermatch-primary-btn-color {
  color: var(--color-primary) !important;
}

.covermatch-primary-btn-color:hover {
  color: var(--color-black) !important;
}

.section-form {
  background-image: url("./images/background-contact.png");

  background-position: center;
  background-size: cover;
}

.section-form .shadow-lg {
  box-shadow: 0 0.1rem 1rem #777 !important;
}

.cover-match-btn-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-radius: 1rem !important;

  font-size: 1.2rem;
}

.cover-match-btn-primary:hover {
  background-color: var(--color-white) !important;
  color: var(--color-primary-light) !important;
}

.covermatch-bg-1 {
  background-color: var(--color-gray);
}

.carousel-control-next-icon {
  background-image: url("./images/chevron-right.svg");
}

.carousel-control-prev-icon {
  background-image: url("./images/chevron-left.svg");
}

.partners {
  background-color: #f2f2f2;
}

/*  */

.checkbox {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}

.checkbox__input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 0;
}

.checkbox__label {
  display: block;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.checkbox__label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  z-index: 1;
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}

.checkbox__label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked+.checkbox__label:before {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.checkbox__input:checked+.checkbox__label:after {
  border-color: #fff;
}

/* Footer */

footer a {
  font-size: 1rem;
  line-height: 2 !important;
  color: var(--color-dark-gray);
}

footer a:hover {
  text-decoration: none;
  color: var(--color-primary);
}


/* ------ */

@media only Screen and (max-width: 550px) {
  .cover-match-primary-heading {
    font-size: .9rem;
  }

}

@media only Screen and (max-width: 768px) {
  .section-form {
    background-image: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .formWidth {
    width: 100%;
  }

  .quote {
    font-weight: bolder;
    font-size: 1em;
  }

  .cover-match-btn-primary {
    font-size: .5rem !important;
  }

  .cover-match-primary-heading {
    font-size: 1.1rem;
  }

  .cover-match-primary-paragraph {
    font-size: .7rem;
  }

  .cover-match-card-section button {
    font-size: .7rem;
  }

  .cover-match-card-section .card-body {
    font-size: .6rem;
  }


  .cover-match-primary-heading-small {
    font-size: .8rem;
  }

  .cover-match-primary-paragraph-small {
    font-size: .65rem;
  }

  .cover-match-form__gallery {
    width: 100px;
    height: 100px;

  }

  .nk-text-align-responsive {
    text-align: left;
  }

  footer a {
    font-size: .6rem;
  }

}